<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <div class="container mt-5">
        <h1> <%= title %> </h1>
        <form action="/books/<%= books.id %>" method="post">
          <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
                <label for="isbn">Kode ISBN</label>
                <input type="text" name="isbn" id="isbn" class="form-control" value="<%= books.isbn %>">
            </div>
            <div class="form-group">
                <label for="judul">Judul Buku</label>
                <input type="text" name="judul" id="judul" class="form-control" value="<%= books.judul %>">
            </div>
            <div class="form-group">
                <label for="sinopsis">Sinopsis</label>
                <textarea name="sinopsis" id="sinopsis" cols="30" rows="10" class="form-control"><%= books.sinopsis %></textarea>
              </div>
            <div class="form-group">
                <label for="penulis">Penulis</label>
                <input type="text" name="penulis" id="penulis" class="form-control" value="<%= books.penulis %>">
            </div>
              <div class="form-group">
                <label for="genre">Genre</label>
                <select name="genre" id="genre" class="form-control">
                  <option value="Fantasy">Fantasy</option>
                  <option value="Mystery">Mystery</option>
                  <option value="Romance">Romance</option>
                </select>
                <script type="text/javascript">
                document.querySelector("#genre").value = "<%= books.genre %>";
                </script>
              </div>
              <button type="submit" class="btn btn-primary">Simpan</button>
        </form>
    </div>
</body>
</html>